@model ResetPasswordDto;
@{
    var message = ViewBag.Message;
}


<form asp-action="ForgotPassword" asp-controller="Account" class="row">
    <div class="mx-auto mt-[8rem] w-4/5 element row">
        @if (message != null)
        {
            <div id="alertMessageContainer" class="mt-1 mb-1 text-center"><span class="text-danger">@message</span></div>
        }
        <img src="~/images/logo.png" class="object-contain w-[12rem] h-[90px] mx-auto" />
        <input type="email" class="form-control col-md-3 mb-2" placeholder="EMAIL" asp-for="Email" required />
        <input type="password" class="form-control col-md-4 mt-2" placeholder="PASSWORD" asp-for="Password" required />
        <input type="password" class="form-control col-md-4 mt-2" placeholder="CONFIRM PASSWORD" asp-for="ConfirmPassword" required />
        <input type="submit" class="btn btn-primary mt-3 flex-1 login-btn" value="RESET" />
        <a class="float-right text-decoration-none mt-1" asp-action="Login" asp-controller="Account"><i class="bi bi-arrow-left-circle mx-1"></i>Go Back</a>
    </div>
</form>
