

<link href="~/assets/css/main.css" rel="stylesheet" />
<link href="~/assets/css/Font-icon.css" rel="stylesheet" />
<link rel='stylesheet' id='wellness-coach-lite-css'
      href='https://infomedconference.com/wp-content/themes/wellness-coach-lite/style.css?ver=1.0.2' type='text/css'
      media='all' />
    <header id="header" class="header fixed-top">
        <div class="branding d-flex align-items-cente">
            <div class="container position-relative d-flex align-items-center">
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
                <a onclick="window.location.href=localStorage.getItem('location')" class="logo d-flex align-items-center">
                    <img src="~/assets/img/logo.png" alt="" />
                </a>
            </div>
        </div>
    </header>
<div id="page" class="site mt-5">
    <div id="content" class="site-content">
        <div class="container">
            <div class="page-grid">
                <div id="primary" class="content-area">
                    <main id="main" class="site-main">
                        <article id="post-17615" class="post-17615 page type-page status-publish hentry">
                            <div class="entry-content" itemprop="text">

                                <h2>InfoMed’s<strong> Privacy Policy</strong></h2>
                                <h5>Last Updated: 30 May 2022</h5>
                                <p>
                                    InfoMed, including our affiliates, respects your privacy and are committed to
                                    protecting your Personal Information (defined below). This Privacy Policy will
                                    let you know how we collect, use, process, maintain, and share your Personal
                                    Information, as well as your choices regarding the use, access, and correction
                                    of your Personal Information. We encourage you to read this Privacy Policy
                                    together with any other privacy policy or fair processing notice we may provide
                                    when we are collecting or processing Personal Information about you so that you
                                    are fully aware of how and why we are using your data. This Privacy Policy
                                    supplements the other policies and is not intended to override them.
                                </p>
                                <p>
                                    InfoMed is made up of different legal entities, including our affiliates. These
                                    entities include our website (infomed.com.my), and any future apps of InfoMed or
                                    our affiliates, social media channels, electronic newsletters, and any of our
                                    other products or services (podcasts, events, contests, and promotions, surveys,
                                    and the like). These are collectively referred to as “Services.”
                                </p>
                                <p>
                                    “Personal Information” is information that can be used to identify you, directly
                                    or indirectly, alone or together with other information. Personal Information
                                    may include but is not limited to, your name, physical addresses, telephone
                                    numbers, email <br />addresses, company affiliations, and associated interests.
                                    Personal Information does not include anonymous data, such as where an
                                    individual’s identity has been irretrievably removed. “Aggregated Data,” such as
                                    statistical or demographic data, may be derived from your Personal Information
                                    but does not reveal your identity.
                                </p>
                                <p>Third-party links and applications.</p>
                                <p>
                                    Our portal may include links to third-party websites, platforms, plug-ins, and
                                    applications. We do not control these third-party websites, platforms, and
                                    applications and are not responsible for their privacy policies. We encourage
                                    you to read the privacy notice of every website you visit or application you use
                                    when you leave our portal.
                                </p>
                                <h5>CATEGORIES OF PERSONAL INFORMATION WE GATHER ABOUT YOU</h5>
                                <p>
                                    We may collect, use, store and transfer different kinds of Personal Information
                                    about you, which we have grouped together as follows:
                                </p>
                                <ul>
                                    <li>
                                        Identity Data (for example, your first name, last name, username or similar
                                        identifier, birth year, gender, or other basic demographic information).
                                    </li>
                                    <li>
                                        <span style="color: var(--font-color); font-family: var(--primary-font);">
                                            Contact Data (for example, your billing address, delivery address, email
                                            address, and telephone numbers).
                                        </span>
                                    </li>
                                    <li>
                                        Financial Data (for example, your bank account, payment methods, and
                                        transaction details).
                                    </li>
                                    <li>
                                        Technical Data (for example, your internet protocol (IP) address, internet
                                        service provider (ISP), login data, browser type, and version, browser
                                        language, operating system, date/time stamp, clickstream data, time zone
                                        setting, and basic geolocation, device type, and other technology on the
                                        devices you use to access our Services.
                                    </li>
                                    <li>
                                        Mobile Device Location Data (if you use our mobile applications and permit
                                        certain precise location settings and permissions, you consent to providing
                                        us with access to your precise geolocation information. You may withdraw
                                        this consent at any time by turning off those same settings and permissions,
                                        but the information collected before such withdrawal remains lawful to
                                        process.
                                    </li>
                                    <li>
                                        Usage Data, including, for example, the time and duration of your use or
                                        your reading history.
                                    </li>
                                    <li>
                                        Profile Data (for example, your unique login details, purchases, orders,
                                        interests, preferences, feedback, and survey responses).
                                    </li>
                                    <li>
                                        Marketing and Communications Data (for example, your preferences in
                                        receiving marketing from our third parties and us, if any, and your
                                        communication preferences).
                                    </li>
                                </ul>
                                <p>If you fail to provide Personal Information.</p>
                                <p>
                                    Where we need to collect Personal Information by law, under the terms of a
                                    contract we have with you, or for our legitimate interests, and you fail to
                                    provide that information when requested, we may not be able to perform the
                                    contract we have or are trying to enter into with you. In this case, we may have
                                    to cancel a product or service you have with us, but we will notify you if this
                                    is the case at the time. We do, however, ask that you do not send us any
                                    sensitive personal information, such as a race, health, or identity card
                                    numbers.
                                </p>
                                <h5>HOW DO WE RECEIVE, COLLECT, AND USE YOUR PERSONAL INFORMATION</h5>
                                <p>
                                    We may collect and receive your Personal Information from you, third parties, and
                                    online or offline public resources. Additionally, we may combine your Personal
                                    Information from multiple sources.
                                </p>
                                <p>We use your Personal Information in different situations, including:</p>
                                <p>
                                    To Provide Services/Products. We may collect and use your Personal Information to
                                    process your order and provide Services, including in order to maintain,
                                    support, personalize, and improve our Services, deliver and provide the
                                    requested Services, <br />communicate with you about those Services, discuss
                                    your account or renew your subscription, and comply with and enforce contractual
                                    obligations.
                                </p>
                                <p>
                                    To Provide Relevant Personalized Information about InfoMed Services. We may
                                    collect and use your Personal Information in order to provide you with
                                    information about a Service that may be of interest to you, an upcoming event,
                                    or other marketing <br />communications on our behalf, and we may share your
                                    information between InfoMed entities, affiliates and third-party service
                                    providers (who have your permission) for these purposes.
                                </p>
                                <p>
                                    To Deliver Targeted Advertising from InfoMed and Our Partners. We may collect and
                                    use your Personal Information to communicate with you about products and
                                    services that may be of interest to you and which may be provided by InfoMed, or
                                    by our advertisers, partners, third-party marketing partners, or other third
                                    parties. You can manage your privacy settings here. You can also elect to not
                                    receive these direct marketing communications by a) not initially selecting the
                                    option provided to receive such communications, b) using the unsubscribe link in
                                    a direct marketing email, or c) emailing us at
                                    <strong>subscribers@infomed.com.my</strong>. Please note that some InfoMed and
                                    third-party advertising is contained within the magazine or newsletters to which
                                    you can subscribe that contain editorial content. This advertising is not
                                    targeted at you but is sent to all subscribers to the particular newsletter. If
                                    you would like to avoid this advertising, you must opt-out of the newsletter.
                                </p>
                                <p>
                                    Inquiry/Request Response. We may collect your Personal Information when you
                                    contact us for information or support, or other information, in order to respond
                                    and provide the appropriate assistance and response.
                                </p>
                                <p>
                                    Participating in Promotions. We may need to collect your Personal Information,
                                    such as your name and email, when you participate in sweepstakes, contests, or
                                    special offers. Surveys, Feedback, and Testimonials. We may collect your
                                    Personal Information when you choose to engage with us in a consumer panel,
                                    survey or otherwise give us feedback. Also, we may use reader testimonials in or
                                    on our Digital Properties, publications, or other InfoMed marketing materials,
                                    which may require the inclusion of Personal Information, such as your name,
                                    photograph, or other Profile Data.
                                </p>
                                <p>
                                    Monitor Usage, Trends, and Experience. When you interact by email, we may
                                    automatically collect or facilitate the collection of Personal Information on
                                    your interactions with us and about your equipment. For example, we may collect
                                    personal <br />information using first and third-party cookies and other similar
                                    technologies. We use these automated technologies to collect Personal
                                    Information because some are strictly necessary for the core functionality of
                                    providing our Services, including performance analytics, personalization, and
                                    online security. For certain Digital Properties, we may tailor your interactions
                                    with our Digital Properties when you are logged in using your user account by
                                    remembering information you entered on our websites, including subscriber
                                    content access. These cookies also help us know where you have indicated certain
                                    advertising preferences to ensure they are honored.
                                </p>
                                <p>
                                    We also use functional cookies and technologies to help us improve our reader
                                    experience with our Services.
                                </p>
                                <p>
                                    Finally, with your consent (depending on your settings), we may use cookies for
                                    advertising purposes, which could include helping us collect your Technical,
                                    Usage, and Profile Data if you visit other websites employing our cookies or to
                                    allow us to deliver relevant, personalized advertisements and content to you on
                                    our Services, and other third party sites. In addition to disabling cookies and
                                    other tracking technologies, you may learn about targeted advertising generally
                                    and opt-out of receiving targeted advertising by visiting websites operated by
                                    the Digital Advertising Alliance.
                                </p>
                                <p>
                                    Vendors, Consultants, and other Service Providers. We may use your Personal
                                    Information in connection with the operation of our business and the Services we
                                    provide you, to improve our Services and content, and to provide you with
                                    enhanced <br />experiences. These third parties and public sources could include
                                    our business partners, subcontractors in technical, payment, and delivery
                                    services, advertising networks, analytics providers, marketing partners, search
                                    information providers, social media platforms, or credit reference agencies.
                                </p>
                                <p>
                                    A third-party service provider may, for example, use cookies to build individual
                                    reader profiles, which we use to provide you with tailored content, advertising,
                                    and messaging. You may also manage some of the automated technologies used for
                                    these purposes and your preferences.
                                </p>
                                <p>
                                    Third-Party Sites. We may allow you to register and pay for third-party products
                                    and services or otherwise interact with a third party’s website, mobile
                                    application, or digital property (collectively “Third Party Sites”). When you do
                                    so, we may collect Personal Information you share with Third Party Sites
                                    depending on that Third Party’s privacy practices, practices we are not
                                    responsible for and do not control.
                                </p>
                                <p>
                                    Marketing and Advertisers. We may collect your Personal Information to inform
                                    advertisers, sponsors, or affiliates about the number and nature of our
                                    subscribers and readers or unique views of ads or web pages.
                                </p>
                                <p>
                                    When we provide you with geographically relevant Services, offers, or
                                    advertising, with your consent, which may be provided when you enable certain
                                    features on your mobile or electronic device, we may collect your Mobile Device
                                    Location Data, and use such data to provide you with content, Services, offers,
                                    or advertising through your app or device that are relevant to your precise
                                    location. We may also use such information to improve our content and Services.
                                    This location data is stored on your mobile device unless you elect to have it
                                    saved to your search history and stored on our servers. You may withdraw your
                                    consent at any time by changing the settings on your apps, but such withdrawal
                                    will have no impact on the lawfulness of the prior processing. Please note some
                                    features and functions may not work properly if location services are disabled.
                                </p>
                                <p>
                                    Social Media Platforms. If you log into our Services with a social media service
                                    or connect a social media account with the Services, we may share your
                                    information with that social media service. The social media services’ use of
                                    the shared information will be governed by the social media services’ privacy
                                    policy and your social media account settings. If you <br />do not want your
                                    information shared in this way, do not connect your social media service account
                                    with your Services.
                                </p>
                                <p>
                                    Events. We may collect or receive your Personal Information when you register for
                                    or attend an event hosted or sponsored by us. If the event is in partnership
                                    with a third party, we may share your Personal Information with that interested
                                    party, so they can, for example, maintain an attendance list or contact you with
                                    event details. We will not share your information with them for their marketing
                                    purposes without your consent, which may be obtained at the time of your
                                    registration or through a supplemental privacy notice, but will not be required
                                    in order to attend.
                                </p>
                                <p>
                                    Creating a Public Profile. We may collect your Personal Information, such as
                                    content ID and Profile Data, when you create a “Public Profile.” If you create a
                                    Public Profile with us to comment on articles or share content on our forums or
                                    discussion groups, the information that you share becomes public.
                                </p>
                                <p>
                                    Online Forum Engagement. Whether or not you created a Public Profile, we may
                                    collect our Personal Information when you engage with our websites, digital
                                    properties, and online communities. This may occur when you click on
                                    advertisements, interact with our social media pages, submit content, leave
                                    reviews, or otherwise enter information into comment fields, blogs, message
                                    boards, events, and other online forums sponsored by or affiliated with InfoMed.
                                    Please note that our online forums are public. For additional information,
                                    please view the Terms of Service, available here for InfoMed.com.my.
                                </p>
                                <p>
                                    To verify and/or authenticate an identity, access rights, privileges, etc. For
                                    example, we may use Personal Information to authenticate and permit online
                                    access to subscriber and/or user account information.
                                </p>
                                <p>
                                    At your Direction. We may collect and use your Personal Information at your
                                    direction or as otherwise needed to fulfill the purposes for which you provided
                                    the Personal Information.
                                </p>
                                <p>
                                    Other Business-Related Purposes. For other business-related purposes permitted or
                                    required under applicable local law and regulation or to enforce our agreements,
                                    policies, and terms of service.
                                </p>
                                <p>
                                    Government Reporting/Audit/Requests Requirements. We may use or share Personal
                                    Information in order to satisfy governmental reporting, tax, and other
                                    requirements, as required by law. This may include meeting Malaysian national
                                    security or law enforcement, regulatory, or self-regulatory requirements.
                                </p>
                                <p>
                                    As otherwise obligated by law. For example, pursuant to a subpoena or similar
                                    legal process compliance, if we have a good faith belief the disclosure is
                                    legally necessary for the protection of rights, safety, or fraud investigations,
                                    to protect InfoMed, you, our readers and subscribers, or the public from harm or
                                    illegal activities.
                                </p>
                                <p>
                                    Emergency. To respond to an emergency that we believe in good faith requires us
                                    to assist in preventing the death or serious bodily injury of any person.
                                    Consent. If we otherwise notify you and you consent to the sharing.
                                </p>
                                <p>Third-Party Personal Information.</p>
                                <p>
                                    Before you disclose the Personal Information of another person, you must obtain
                                    that person’s consent to both the disclosure and the processing of that
                                    information in accordance with this Privacy Policy. If you choose to provide us
                                    with that Personal <br />Information, you represent that you have that other
                                    person’s permission to do so.
                                </p>
                                <p>Change of purpose.</p>
                                <p>
                                    We will only use your Personal Information for the purposes for which we
                                    collected it unless we reasonably consider that we need to use it for another
                                    reason and that reason is compatible with the original purpose.
                                </p>
                                <h5>WITH WHOM DO WE SHARE YOUR PERSONAL INFORMATION?</h5>
                                <p>
                                    Except as set out in this Privacy Policy or as required by law, we do not sell,
                                    license, rent, or swap your Personal Information without your permission. We may
                                    have to share your Personal Information with the categories and types of parties
                                    set out herein for the purposes. We require all third parties to respect the
                                    security of your Personal Information and to treat it in accordance with the
                                    applicable law. Here are some examples of how we may share your information:
                                </p>
                                <p>
                                    Service Providers and Vendors. We contract with service providers to help us with
                                    a credit card and bill processing, shipping, email distribution, list
                                    processing, analytics and promotions management, and ad serving. We provide
                                    service providers only with the information they need to perform their services.
                                    We prohibit them from sharing, reselling, or using our data for their own
                                    marketing purposes.
                                </p>
                                <p>
                                    Social Media Platforms. We may use widgets and tools from third-party social
                                    media platforms to enable sharing and other functions through social media
                                    platforms, which facilitates the collection and sharing of your Personal
                                    Information by these social media platforms governed by their privacy policies.
                                </p>
                                <p>
                                    Promotions, Contests, Surveys, and Events. We may facilitate the collection of or
                                    share your Personal Information with a tthird-partyservice provider, vendor,
                                    co-host, co☻sponsor, or the like when we conduct, administer, host, or
                                    co-sponsor promotions or contests surveys, or events.
                                </p>
                                <p>
                                    Marketing and Advertising Partners. We share personal data with third parties for
                                    marketing and advertising, such as Google and Facebook, so they can assist us in
                                    promoting our Services to current and future readers and subscribers through
                                    targeted advertisements.
                                </p>
                                <p>
                                    Third-Party Advertisers. We may use your Personal Information to share aggregated
                                    statistical, demographic, and marketing analyses of readers and their browsing
                                    and purchasing patterns with third-party advertisers to inform them about the
                                    nature of our reader base. Such aggregated data does not contain Personal
                                    Information.
                                </p>
                                <p>
                                    Merger or Acquisition Partners. We may share your Personal Information with third
                                    parties to whom we may choose to sell, transfer, or merge parts of our business
                                    or our assets. Alternatively, we may acquire other businesses or merge with
                                    them. If a merger or acquisition occurs, then the new owners may use your
                                    Personal Information in the same way as set out in this Privacy Policy.
                                </p>
                                <p>
                                    With other third parties, as required for legal compliance, law enforcement,
                                    public safety, or security purposes. For example, we may disclose your Personal
                                    Information if we have a good faith belief that disclosure is necessary to
                                    comply with the law or with legal process, such as to comply with a subpoena,
                                    protect and defend our rights and property, to protect against misuse or
                                    unauthorized use of our websites, or to protect the personal safety or property
                                    of our users or the public.
                                </p>
                                <h5>DATA INTEGRITY AND SECURITY</h5>
                                <p>
                                    We have put in place commercially appropriate security measures to prevent your
                                    Personal Information from being accidentally lost, used or accessed in an
                                    unauthorized way, altered, or disclosed, and maintain its accuracy and
                                    integrity. While no security is impenetrable, we implement and maintain
                                    commercially appropriate technical, physical, administrative, and organizational
                                    measures to ensure a level of security appropriate to the risk for our use of
                                    the Personal Information, the costs of implementation, and the nature, scope,
                                    context, and purposes of the processing.
                                </p>
                                <h5>MINIMIZATION, RETENTION, AND DELETION OF PERSONAL INFORMATION</h5>
                                <p>
                                    We will only retain your Personal Information for as long as necessary to fulfill
                                    the purposes we collected it for, including, for example, for so long as we
                                    provide you with Services and for the purposes of satisfying any legal
                                    (including but not limited to <br />enforcement of agreements or resolving
                                    disputes), accounting, or reporting requirements.
                                </p>
                                <p>
                                    To determine the appropriate retention period for Personal Information, we
                                    consider the amount, nature, and sensitivity of the Personal Information, the
                                    potential risk of harm from unauthorized use or disclosure of your Personal
                                    Information, the purposes for which we process your Personal Information, and
                                    whether we can achieve those purposes through other means, and the applicable
                                    legal requirements.
                                </p>
                                <p>
                                    In some circumstances, we may anonymize your Personal Information (so that it can
                                    no longer be associated with you) for research or statistical purposes. We may
                                    use this information indefinitely without further notice to you.
                                </p>
                                <p>
                                    Under certain circumstances, you have rights under applicable data protection
                                    laws with respect to Personal Information we knowingly collected.
                                </p>
                                <p>
                                    We will try to comply with any of these requests pertaining to your personal
                                    information according to applicable law. As a security measure, we may need to
                                    verify your identity before acting on your request. We may also contact you to
                                    ask you for further information about your request to speed up our response.
                                    Please recognize that in certain circumstances, we may be unable to provide the
                                    access or information sought or correction or deletion requested. This may be
                                    because a request would require us to release confidential commercial
                                    information, disclose Personal Information relating to another person that is
                                    not the requestor, or would result in impracticability, excessive redundancy,
                                    and/or an undue burden or expense to InfoMed.
                                </p>
                                <p>
                                    You will not have to pay a fee to access your Personal Information (or exercise
                                    any other rights). However, we may charge a reasonable fee if it is clear that
                                    your request is unfounded, repetitive, or excessive. Alternatively, we may
                                    refuse to comply with your request in these circumstances.
                                </p>
                                <p>
                                    Choice. InfoMed enables its readers and subscribers to determine certain privacy
                                    preferences and settings that can serve to modify the Personal Information
                                    collected. Right to Access. A person who has provided their Personal Information
                                    directly to us may have certain access to their Personal Information and check
                                    that we are lawfully processing it.
                                </p>
                                <p>
                                    Correction. You may request the correction of any incorrect or inaccurate
                                    Personal Information that we hold about you. Any such corrections must be
                                    truthful, complete, and accurate. In your request, please be as clear as
                                    possible what Personal Information you have provided to us and what Personal
                                    Information you would like corrected.
                                </p>
                                <p>
                                    Erasure. You may request that we delete the Personal Information that we hold
                                    about you. In your request, please be as clear as possible what Personal
                                    Information you have provided to us and what Personal Information you would like
                                    deleted. If you ask us to delete your information before we have used it for the
                                    necessary purposes set out in this policy, we may not be able to do so due to
                                    technical, legal, regulatory, and contractual constraints.
                                </p>
                                <p>
                                    Object to processing. You may object to the processing of your personal data
                                    where we are relying on a legitimate interest (or those of a third party), and
                                    there is something about your particular situation which makes you want to
                                    object to processing on this ground as you feel it impacts on your fundamental
                                    rights and freedoms. You also have the right to object to where we are
                                    processing your personal data for direct marketing purposes. In some cases, we
                                    may demonstrate that we have compelling legitimate grounds to process your
                                    information which overrides the potential impacts.
                                </p>
                                <p>
                                    Restriction. You may request a restriction of the processing of your personal
                                    data, which enables you to ask us to suspend the processing of your personal
                                    data in the following scenarios: (a) if you want us to establish the data’s
                                    accuracy; (b) where you need us to hold the data even if we no longer require it
                                    as you need it to establish, exercise or defend legal claims; or (c) you have
                                    objected to our use of your data, but we need to verify whether we have
                                    overriding legitimate grounds to use it.
                                </p>
                                <p>
                                    Transfer. You can request the transfer of your personal data to you or to a third
                                    party. We will provide to you, or a third party you have chosen, your personal
                                    data in a commonly used, machine-readable format. Note that this right only
                                    applies to automated information which you initially provided consent for us to
                                    use or where we used the information to perform a contract with you.
                                </p>
                                <p>
                                    Withdraw consent. You may withdraw consent at any time where we are relying on
                                    consent to process your personal data. However, this will not affect the
                                    lawfulness of any processing carried out before you withdraw your consent. If
                                    you withdraw your consent, we may not be able to provide certain products or
                                    services to you. We will advise you if this is the case at the time you withdraw
                                    your consent.
                                </p>
                                <p>
                                    If you wish to exercise any of the rights set out above, please contact us at:
                                </p>
                                <p>Email: subscribers@infomed.com.my</p>
                                <p>
                                    Mail: Unit A-3-3, Block A, Arena Mentari, No 1 Jalan PJS 8/15, Dataran Mentari,
                                    46150 <br />Petaling Jaya, Selangor, Malaysia.
                                </p>
                                <h5>ACCEPTANCE AND CHANGES TO THIS POLICY</h5>
                                <p>
                                    By using the InfoMed’s Services, and/or submitting any of your Personal
                                    Information to us, you agree to the terms of this Privacy Policy. Please do not
                                    send us any Personal Information you do not want used in this way. This Privacy
                                    Policy may be amended from time to time, consistent with the applicable data
                                    protection and privacy laws and principles. We will make you aware of changes to
                                    this Privacy Policy either by posting to our intranet, through email, or other
                                    means, particularly prior to any material changes becoming effective. We reserve
                                    the right to modify this Privacy Policy at any time, so please review it
                                    frequently. If you do not wish your information to be subject to the revised
                                    Privacy Policy, you will need to deactivate any accounts with us and Services.
                                    Your continued use of our Services after the posting of such changes will
                                    constitute your <br />consent to such changes.
                                </p>
                                <h5>CONTACTING US</h5>
                                <p>
                                    Should you have any questions or concerns about this Privacy Policy or
                                    InfoMed&#8217;s practices, you may reach InfoMed via email at
                                    info@infomed.com.my. Contact Us page may also be used for requests to manage
                                    your information we process.
                                </p>
                                <p>Revisions to this Privacy Policy</p>
                                <p>
                                    We reserve the right to change this Privacy Policy at any time and such
                                    modifications shall be effective immediately, as of the date indicated at the
                                    top of this Privacy Policy.
                                </p>
                                <p>Contact Us for Questions or Complaints</p>
                                <p>
                                    If you have any questions, concerns or complaints regarding our privacy
                                    practices, or if you&#8217;d like to exercise your choices or rights, you can
                                    contact us:
                                </p>
                                <p>By email to: enquiry@infomed.com.my</p>
                                <p>
                                    By writing to us at: InfoMed (Malaysia) Sdn Bhd, Unit A-3-3, Block A, Arena
                                    Mentari, No. 1
                                </p>
                                <p>Jalan PJS 8/19, Dataran Mentari, 46150 Petaling Jaya, Selangor, MALAYSIA.</p>
                            </div>
                        </article>
                    </main>
                </div>
            </div>
        </div>
    </div>
</div>

