<link
  rel="stylesheet"
  id="wellness-coach-lite-css"
  href="https://infomedconference.com/wp-content/themes/wellness-coach-lite/style.css?ver=1.0.2"
  type="text/css"
  media="all"
/>


<link href="~/assets/css/main.css" rel="stylesheet" />
<link href="~/assets/css/Font-icon.css" rel="stylesheet" />
  <header id="header" class="header fixed-top">
        <div class="branding d-flex align-items-cente">
            <div class="container position-relative d-flex align-items-center">
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
                <a onclick="window.location.href=localStorage.getItem('location')" class="logo d-flex align-items-center">
                    <img src="~/assets/img/logo.png" alt="" />
                </a>
            </div>
        </div>
    </header>
<div id="content" class="site-content mt-5">
  <div class="container">
    <div class="page-grid">
      <div id="primary" class="content-area">
        <main id="main" class="site-main">
          <article
            id="post-17492"
            class="post-17492 page type-page status-publish hentry"
          >
            <div class="entry-content" itemprop="text">
              <h2>InfoMed’s Terms of Service</h2>
              <p>
                InfoMed offers free access to the InfoMed Conference website. By
                using the Services, you agree to abide by all of the terms and
                conditions of these Terms of Service between you and InfoMed.<br />
                Last updated on 30 May 2022
              </p>
              <h5>GENERAL RULES AND DEFINITIONS</h5>
              <p>
                1.1 We reserve the right, at InfoMed&#8217;s sole discretion, to
                change, modify, add or remove portions of these Terms of Service
                periodically. Such modifications shall be effective immediately
                upon posting of the modified agreement to the website unless
                provided otherwise. Your continued use of the Site following the
                posting of changes to these Terms will mean that you accept
                those changes.<br />
                1.2 Acceptance of Terms of Service. IF ANY OF THESE RULES OR ANY
                FUTURE CHANGES ARE UNACCEPTABLE TO YOU, YOU MUST STOP USING THE
                SERVICES. YOUR CONTINUED USE OF THE SERVICES NOW, OR FOLLOWING
                THE POSTING OF NOTICE OF ANY CHANGES IN THESE OPERATING RULES,
                WILL INDICATE ACCEPTANCE BY YOU OF SUCH RULES, CHANGES, OR
                MODIFICATIONS.
              </p>
              <h5>USE OF CONTENT ON THE SERVICES</h5>
              <p>
                2.1 Personal and Non-Commercial Use. The contents of the
                Services are intended for your personal, noncommercial use. All
                materials published on the Services (including, but not limited
                to news articles, photographs, images, illustrations, audio and
                video clips, also known as the “Content”) are protected by
                copyright, and owned or controlled by InfoMed or the party
                credited as the provider of the Content. You shall abide by all
                additional copyright notices, information, or restrictions
                contained in any Content accessed through the Services. Copying
                or storing of any Content for other than personal use is
                expressly prohibited without prior written permission from
                InfoMed, or the copyright holder identified in the copyright
                notice contained in the Content.<br />
                2.2 Copyright Protection. The Services and Contents are
                protected by copyright pursuant to Malaysia and international
                copyright laws. You may not modify, publish, transmit,
                participate in the transfer or sale of, reproduce, create new
                works from, distribute, perform, display, or in any way exploit
                any of the Content or the Services (including software) in whole
                or in part (except as provided in Sections 2.4 and 2.8 of these
                Terms of Service).<br />
                2.3 Content Ownership. The Content of the Services is owned or
                licensed to InfoMed. For Content furnished by media agencies,
                InfoMed shall not be liable for any delays, inaccuracies,
                errors, or omissions in any such Content, or in the transmission
                or delivery of all or any part thereof, or for any damages
                arising therefrom.<br />
                2.4 Content Posted. All Content whether publicly posted or
                privately transmitted, e.g. data posted within the InfoMed
                Special Column or Opinion, is the sole responsibility of the
                person from whom such Content originated. This means that the
                user, and not InfoMed, is entirely responsible for all Content
                that he or she uploads, posts, emails or otherwise transmits via
                InfoMed website. No user shall transmit Content or otherwise
                conduct or participate in any activities on INfoMed website
                that, in the judgment of InfoMed, is likely to be prohibited by
                law in any applicable jurisdiction, including laws governing the
                the transmission of any libelous, defamatory, obscene,
                pornographic, abusive, or otherwise illegal material, or the
                permissible uses of intellectual property.<br />
                You agree that you will not threaten or verbally abuse other
                InfoMed readers or subscribers, use defamatory language, or
                deliberately disrupt discussions with repetitive messages,
                meaningless messages, or “spam.”<br />
                The Services shall be used only in a noncommercial manner. You
                shall not, without the express approval of InfoMed, distribute,
                or otherwise publish any material containing any solicitation of
                funds, advertising, or solicitation for goods or services.<br />
                You acknowledge that your submission of Content may be edited,
                removed, modified, published, transmitted, and displayed by
                InfoMed and you waive any rights you may have in having the
                material altered or changed in a manner not agreeable to you.
                Submissions made to the Services may also be included in our RSS
                feeds, APIs, and made available for republishing through other
                formats.<br />
                2.5 License to Content Submissions. You grant InfoMed a
                perpetual, nonexclusive, world-wide, royalty free, sub
                licensable license to the Submissions, which includes without
                limitation the right for InfoMed or any third party it
                designates, to use, copy, transmit, excerpt, publish,
                distribute, publicly display, publicly perform, create
                derivative works of, host, index, tag, encode, modify, and adapt
                (including without limitation the right to adapt to streaming,
                downloading, broadcast, mobile, digital, thumbnail, scanning or
                other technologies) in any form or media now known or
                hereinafter developed. By making a Submission, you are
                consenting to its display and publication on the Site and in the
                Services and for related online and offline promotional uses.<br />
                2.6 Responsibility for Submission. You are solely responsible
                for the Content of your Submissions. However, while InfoMed does
                not and cannot review every Submission and is not responsible
                for the content of these messages, IinfoMed reserves the right
                to delete, move, or edit Submissions that it, in its sole
                discretion, deems abusive, defamatory, obscene, in violation of
                copyright or trademark laws, or otherwise unacceptable.<br />
                2.7 Reference to Content Via Link. The Content can be referenced
                via a link to the article on the Service from which it
                originated, where the reader will have access to the first few
                paragraphs. In addition to the headline, the visible
                paragraph(s) can be used as well, as long as there is a
                corresponding link that directs a reader to the original article
                that identifies it coming from the appropriate Service.<br />
                2.8 Re-Packaging for Internal Use. The content may only be
                repackaged as a PDF and used on a personal or company website
                with the express written permission from InfoMed, and purchase
                of a license. To obtain such permission and licensing
                information, please contact InfoMed at
                subscribers@infomed.com.my. InfoMed will grant permission and
                provide the PDF to the user following the purchase of a license.
              </p>
              <h5>ACCESS AND AVAILABILITY OF SERVICES AND LINKS</h5>
              <p>
                4.1 Links to Third Parties. The Services contain links to other
                related World Wide Web Internet sites, resources, and
                advertisers. InfoMed exercises no control whatsoever over such
                other websites and web-based resources and is not responsible or
                liable for the availability thereof or the Content, advertising,
                products or other materials thereon. InfoMed shall not be
                responsible or liable, directly or indirectly, for any damage or
                loss incurred or suffered by any user in connection therewith.
                Your access and use of linked websites, including information,
                material, products and services therein, is solely at your own
                risk.
              </p>
              <h5>REPRESENTATIONS AND WARRANTIES</h5>
              <p>
                5.1 Your Representations and Warranties. You represent, warrant,
                and covenant (a) that no materials of any kind submitted through
                your account will (i) violate, plagiarize, or infringe upon the
                rights of any third party, including copyright, trademark,
                privacy or other personal or proprietary rights; or (ii) contain
                libelous or otherwise unlawful material. You hereby indemnify,
                defend and hold harmless InfoMed and all officers, directors,
                owners, agents, information providers, affiliates, licensors and
                licensees (collectively, the “Indemnified Parties”) from and
                against any and all liability and costs, including, without
                limitation, reasonable attorneys’ fees, incurred by the
                Indemnified Parties in connection with any claim arising out of
                any breach by you or any user of your account of these Terms of
                Service or the foregoing representations, warranties, and
                covenants. You shall cooperate as fully as reasonably required
                in the defense of any such claim. InfoMed reserves the right, at
                its own expense, to assume the exclusive defense and control of
                any matter subject to indemnification by you.<br />
                5.2 DISCLAIMER. InfoMed makes no representations or warranties
                of any kind, express or implied, as to the operation of this
                Site or endorse the accuracy or reliability of any advice,
                opinion, information, content, materials, or products included
                on this Site. You expressly agree that your use of this Site is
                at your sole risk. THE SERVICES AND ALL DOWNLOADABLE SOFTWARE
                ARE DISTRIBUTED ON AN “AS IS” BASIS WITHOUT WARRANTIES OF ANY
                KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION,
                WARRANTIES OF TITLE OR IMPLIED WARRANTIES OF MERCHANTABILITY OR
                FITNESS FOR A PARTICULAR PURPOSE. YOU HEREBY ACKNOWLEDGE THAT
                USE OF THE SERVICES IS AT YOUR SOLE RISK. THE CONTENT PROVIDED
                BY INFOMED IS FOR INFORMATION PURPOSES ONLY AND IS IN NO WAY
                INTENDED TO BE A SUBSTITUTE FOR MEDICAL CONSULTATION WITH A
                QUALIFIED HEALTH CARE PROFESSIONAL.
              </p>
              <h5>FEES AND PAYMENTS</h5>
              <p>
                6.1 Fees. We reserve the right at any time to charge fees for
                access to portions of the Services or the Services as a whole.
                However, in no event will you be charged for access to the
                Services unless we obtain your prior agreement to pay such
                charges. Thus, if at any time we require a fee for portions of
                the Services that are now free, we will give you advance notice
                of such fees. All new fees, if any, will be posted prominently
                on the Sites and in other appropriate locations on the Services.
                You shall pay all fees and charges incurred through your account
                at the rates in effect for the billing period in which such fees
                and charges are incurred, including, but not limited to charges
                for any digital products or services offered for sale through
                the Services by us or by any other vendor or service provider.
                All fees and charges shall be billed to and paid for by you. You
                shall pay all applicable taxes relating to use of the Services
                through your account.
              </p>
              <h5>COMMUNICATIONS BETWEEN INFOMED AND USERS</h5>
              <p>
                7.1 Third Party Communications. If you indicate on your
                registration form that you want to receive such information, we,
                our owners and assigns, will allow certain third-party vendors
                to provide you with information about products and services.<br />
                7.2 Email Communications. InfoMed reserves the right to send
                electronic mail to you for the purpose of informing you of
                changes or additions to the Services, or for any reason related
                to your use or our provision of the Services.<br />
                7.3 Disclosure of Certain Communications. InfoMed reserves the
                right to disclose information about your usage and demographics,
                provided that it will not reveal your personal identity in
                connection with the disclosure of such information. Advertisers
                and/or Licensees on our Web site may collect and share
                personally identifiable information about you only if you
                indicate your acceptance. For more information please read our
                Privacy Policy.<br />
                7.4 Surveys. We may contact you via email regarding your
                participation in user surveys, asking for feedback on current
                Services or prospective products and services. This information
                will be used to improve the Services and better understand our
                users, and any information we obtain in such surveys will not be
                shared with third parties, except in aggregate form. We may also
                request your optional participation via email in surveys about
                industry and market trends; the results of these surveys may
                then be aggregated into reports and shared with, or sold to,
                third parties.
              </p>
              <h5>TRADEMARK INFORMATION</h5>
              <p>
                8.1 InfoMed logo and other InfoMed trademarks, service marks,
                and product and service names are InfoMed trademarks or
                registered trademarks in Malaysia and in other countries. Users
                may display or use the InfoMed logo (and trademarks) only with
                express written consent of InfoMed.
              </p>
              <h5>TERMINATION</h5>
              <p>
                9.1 InfoMed may terminate a user&#8217;s account at InfoMed’s
                absolute discretion and for any reason. InfoMed is especially
                likely to terminate for reasons that include, but are not
                limited to, the following: (1) violation of these Terms; (2)
                abuse of site resources or attempt to gain unauthorized entry to
                the site or site resources; (3) use of the InfoMed website in a
                manner inconsistent with the Purpose; (4) a user&#8217;s request
                for such termination; or (4) as required by law, regulation,
                court or governing agency order.<br />
                InfoMed’s termination of any user&#8217;s access to the InfoMed
                website may be effected without notice and, on such termination,
                InfoMed may immediately deactivate or delete user&#8217;s
                account and/or bar any further access to such files. InfoMed
                shall not be liable to any user or other third party for any
                termination of that user&#8217;s access or account hereunder. In
                addition, a user&#8217;s request for termination will result in
                deactivation but not necessarily deletion of the account.
                InfoMed reserves the right to delete, or not delete, a
                user&#8217;s account at InfoMed’s sole discretion, as well as to
                delete, or not delete, content at InfoMed’s sole discretion.
              </p>
              <h5>MISCELLANEOUS</h5>
              <p>
                10.1 Governing Law. These Terms of Service have been made in and
                shall be construed and enforced in accordance with Malaysian
                law.<br />
                10.2 Copyright Violations. You agree to report any copyright
                violations of the Terms of Service to InfoMed as soon as you
                become aware of them. In the event you have a claim of copyright
                infringement with respect to material that is contained in the
                Services, please notify info@Infomed.com.my.
              </p>
            </div>
          </article>
        </main>
      </div>
    </div>
  </div>
</div>

